/*Commenting method in CSS is the same for the html (ctrl + shift + forward slash*/
/*CSS Selector*/
/*
	In CSS, you can enter multiplt properties inside the selector to change the style of the element
*/	

/* CSS STYLING SPEFICITY
	-inline styling has the highest priority over internal and external styling
	-external styling has the lowest priority over inline and internal styling
	inline>internal>external*/

/*!important property used in CSS to override the CSS priority rule. It makes the property to which it is attached a priority over any othe rconflicting style (regardless if inline or external)*/

/*h1{
	color: red !important;
	background-color: pink;
}*/

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID selector*/
/*id selector - this is coomonly used to provide unique styling for an element*/
/* #idName */
/*
	letter-spacing - used to change the spaces in between the characthers of the text
*/
#zuitt-motto{
	letter-spacing: 5px;
}
/*
	Css Speficity
		in terms of the selectors, id has the highest priority over other selectors and universal selector has the lowest
*/

h3{
	letter-spacing: 25px;
}

/*use class selector to style the li in the index.html and make its uppercase use text-transform property*/

.offering-item{
	text-transform: uppercase;
}

/*attribute selector
	will only work if the element has the eact attribute that is specified in the selector. case sensitive SYNTAX;
	tag[attribute]
	*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
	in combination selectors, the we are not restricted to use uniform/one tag for both. the first Selector can be a class/id/tag while the secondSelector can be of different selector*/

/*
	Descendant selector
		used to select elements(secondSelector that are inside other elements(firstSelector)
	SYNTAX
		firstSelector secondSelector
*/


/*hexadecimal value of the color property - can be used to specify the target shade for the color that the dev/client wants to use*/

#bootcamp-learning-list li {
	color: #075966;
}

/*
	general sibling selector
	used to target the preceeding siblings

*/

h2 ~ a{
 text-decoration: none;
 }

 /*Child selector*/
 /*can beuesd to*/

 body>section>form>label{
 	/*color also accepts rgb as its value. This value refers to red, green, blue. The number isnide the parenthesis would range from 0 to 255*/
 	color: rgb(0,0,128);
 }

 body{
 	background-color: skyblue;
 }

 html{
 	scroll-behavior: smooth;
 }

 nav{
 	background-color: white;
 }

/*pseudo element/selector*/
/*this a: hover will change the element style once the cursor is hovered over it*/
a:hover{
	background-color: #b3d6de;
}

div {
	display: inline-block;
}

/*landing section*/
section{
	/*vh-viewport height the browser will be using 100% of the screen display*/
	height: 100vh;
	text-align: center;
}

h2{
	/*rem -root element measurement it multiplies the value attached to it to the root eleemnt*/
	font-size: 1.5rem;
}

ol{
	/*list-style-type - changes the bullet/ordering style of the elements*/
	list-style-type: none;
}

/*register section*/
/*
	position - property that changes the position of element based on a certain criteria
	left - used along the position property to add a certain measurement to the left of the element
		directions9left, right top, bottom) - it is recommended to use only 2 of the directions; vertical (Top or bottom) or horizontal (left and right) per selector
	% - the value would be based on the parent element
*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 250px;
	/*vw-siewport width and is similar to vh*/
	width: 25vw;
	position: relative;
	left: 37.35%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}