*{
	font-family: "Calibri Light", monospace;
	font-size: 20px;
}

.style3{
	color: yellow;
}

h1{
	font-size: 50px;
}

h2{
	text-transform: uppercase;
}

.style4{
	background-color: lightgreen;
}

/* attribute selector */
li[target]{
	border: 2px solid royalblue;
}

/* descendant selector */
div img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

/* child selector */
section>p{
	text-align: center;
	letter-spacing: 0px;
	font-size: 18px;
}

/* adjacent sibling selector */
div+ol{
	list-style-type: none;
	letter-spacing: 5px;
}


